@media screen and (max-width: 1180px) {
    header {
        height: auto;
        gap: 7%
    }
    /* NAVIGATION BAR  */
    .nav{
        height: auto;
    }
    .nav-cont {
        flex-direction: column;
    }
    .nav .logo img {
        max-height: 100%;
        max-width: 21%;
    }
    .nav .logo h3 {
        font-size: 1.5rem;
        margin-block: 11px;
    }
    .nav .icons {
        font-size: 1.2rem;
        gap: 60%;
        margin-block: 2px 10px;
    }
    /* HOME SECTION  */
    .home h3 {
        text-align: center;
        margin-top: 49px;
    }
    .home h3 span {
        font-size: 4rem;
    }
    /* ITEMS  */
    #items {
        height: auto;
        justify-content: normal;
    }
    /* SERVICES  */
    #services {
        height:  auto;
    }
    #services .card-2 {
        margin-inline: 100px;
        margin-block-end: 20px;
    }
    .h-cont {
        flex-wrap: wrap;
    }
    /* CLIENTS-SECTION  */
    #clients {
        height: auto;
    }


    /* MORE-ITEMS SECTION  */
    #more-items {
        height: auto;
    }
    #more-items .more-items-cont {
        margin-block-end: 20px;
    }
    /* FOOTER  */
    footer {
        height: 43vh;
    }
}